<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="airplane"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lugares</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="nombreUsuario">
    <h1 style="margin-left: 20px;">Bienvenido, {{ nombreUsuario }}!</h1>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let lugar of lugares" (click)="verDetalle(lugar.id)">
        <ion-card>
          <img [src]="lugar.imagen" />
          <ion-card-header>
            <ion-card-title>{{ lugar.titulo }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>